<div class="container">
<div class="container">
  <div class="row">
    <div class="col-5">

    </div>
    <div class="col-4">
      <h1>Intake.</h1>
      <p>Monitor and improve your eating habits.</p>
      <p><b>Intake</b> is a lightweight, <i>fast</i> webapp built to help you take control of your weight.</p>
    </div>
  </div>
</div>
</div>