<!DOCTYPE html>
<html lang="en">
<head>
	<title>Intake</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/application.css">

</head>

<body>

	<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Intake</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					
					<% if session[:user_id] %>

					<li class="nav-item active">
						<a class="nav-link" href="/users/<%= session[:user_id] %>">Dashboard <span class="sr-only">(current)</span></a>
					</li>
					
					<li class="nav-item active">
						<a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
					</li>
					<% else %>
						<li class="nav-item active">
							<a class="nav-link" data-toggle="modal" data-target="#loginModal" style="cursor: pointer;">Login <span class="sr-only">(current)</span></a>
						</li>

						<li class="nav-item active">
							<a class="nav-link" data-toggle="modal" data-target="#registerModal" style="cursor: pointer;">Register <span class="sr-only">(current)</span></a>
						</li>
					<% end %>

				</ul>
			</div>
		</nav>

		<div>
			<%if @error then %>
					<div class="alert alert-error"><%=@error%></div>
			<% end %>
			<div class='card'>
			<img class="card-img" src='/bg.png'>
			<div class='card-img-overlay'>
			  <div class="row">
			    <div class="col-5">

			    </div>
			    <div class="col-7">
			  		<%= yield %>
					<% if @errors %>
					  <div class="errors-wrapper">
					    <ul class="errors">
					      <% @errors.each do |error| %>
					        <li class="error"><%= error %></li>
					      <% end %>
					    </ul>
					  </div>
					<% end %>
			    </div>
			  </div>
		    </div>
		</div>
      </div>
	</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script type="text/javascript">
  
$(document).mouseup(function(e) { 
    var container = $("#tablist"); // target ID or class 
    // if the target of the click isn't the container nor a descendant of the container 
    if (!container.is(e.target) && container.has(e.target).length === 0 && !$(e.target).parents().hasClass("tab-content") && !$(e.target).hasClass("tab-content")) { 
        // get Event here 
        $('.active').removeClass('active'); 
    } 
}); 
</script>
  </body>
</html>